.menu {
      visibility: hidden;
      z-index: 100;
      position: absolute;
      height: 30%;
      width: 60%;
      text-align: center;
      margin-left: 20%;
      background-color: #EEEEEE;
      border-radius: 20px;
      margin-top: 5%
}

.button {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 20%;
    border-radius: 40px;
    height: 40px;
}

#buttons {
	margin-top: 15%;
}

body {
  background-image: url("https://my.tudelft.nl/assets/img/osiris-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
